/* Colors: */
/* #DDE392 mindaro/
/* #183a37 - slate grey */
/* #F4E3C5 - light wheat */
/* #FCF7EE - lighter wheat*/
/* #FEFCF9 - even lighter wheat*/
/* #AFBE8F - sage #7D8570 - reseda greeen #504B3A drab dark brown*/

html {
	background-color: #FEFCF9;
	font-family: Playfair Display;
	font-size: 30pt;
}

#name {
	font-size: 1em;
	font-style: bold;
	letter-spacing: 1.5px;
}

#namesubhead {
		font-size: .5em;
		margin: 1px;
		letter-spacing: 1.5px;
		font-variant: small-caps;
	
}

#topofpage {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	background-color: #FEFCF9

	
}

#upperleft {
		margin-left: 30px;
}


.navlink {
	font-variant: small-caps;
	text-decoration: none;
	font-size: 0.7em;
	margin-left: 30px;
	font-style: bold;
	color: #183a37;
	background-color #FCF7EE;
	
}

.navlink:hover {
	background-color: #DDB192;
	border-radius: 10% 30% 50% 70%;
	padding-top: 10px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

nav {
	margin: 1em;
	margin-right: 80px;
	font-style: normal;
	text-decoration: none;
	
}

#abtmeandpic {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 3em;
	margin-left: 8em;
	margin-right: 8em;
	color: #F4E35C;
	padding-top: 30px;
	padding-bottom: 500  px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #DDE392;
	border-style: solid;
	border-color: #DDE392;
	border-radius: 10px;
	
	
	
}

#mainaboutme { 
	display: box;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 1em;
	padding-top: 1em;
	margin-left: 4em;
	
	
	
	
	
	
	
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
	color: #04151f
	
}


#p-mainaboutme {
	margin-top: 0.25em;
	color: #04151f;
}

img {
	display: block;
	align-content: center;
	padding: 3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 1em;
	margin-right: 4em;
	padding-top: 4em;
	
}

.linkbuttons {
	display: flex;
	justify-content: front-start;
}

.button {
	
	text-decoration: none;
	font-size: 0.7em;
	font-weight: bolder;
	color: #183a37;
	background-color: #DDB192;
	border-style: double;
	border-width: 10px;
	border-color: #DDB192;
	border-radius: 10% 30% 50% 70%;
	padding-top: 10px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 40px;
	margin-right: 40px;
}
	

	/* about me section*/
	
#aboutmepage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 4em;
	margin-left: 17em;
	margin-right: 17em;
}

h3 {
	display: block;
	font-variant: small-caps;
	margin-top: .1em;
	margin-bottom: .5em;
	text-align: center;
	
	
}

#mesailing {
	  object-fit: contain;
		height: 100%;
		width: 100%;
		padding: 0em;
		margin: auto;
		overflow: hidden;
}

figcaption {
	font-size: 0.7em;
	font-weight: normal;
	font-style: italic;
	color: #7D8570;
}

.pgraph {
	display: block;
	padding-top: 0.5em;
	padding-bottom; 0.5em;
	margin-top: 0;
	margin-bottom: 0;
}