




body {
	background-color: #CCC3B9;
	font-family: "Courier New";
}


h1 {
	font-size: 50pt;
	text-align: center;
}

h2 {
	font-size: 30pt;
	text-align: center;
	
	
}

p {
	padding-left: 2em;
	font-size: 20pt;
	padding-right: 2em;
	font-weight: bold;
	text-align: center;

}

	

.boxaround {
	border: .05em;
	border-color: #545453;
	border-style: solid;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #ededec;

}

.boxaround1 {
	border: .05em;
	border-color: #545453;
	border-style: solid;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #D2D2D1;


}

.boxaround2 {
	border: .05em;
	border-color: #545453;
	border-style: solid;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #A5A5A3;
}

.boxaround3 {
	border: .05em;
	border-color: #545453;
	border-style: solid;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #797876;
}

.photo-album {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
	
}




.photo {
	width: 500px;
}

footer {
	font-size: 30pt;
	text-align: center;
}


@media (max-width: 1300px){
	
	.photoalbum {
		display: flex;
		flex-direction: column;
		align-content: space-between;
	}
	
	h1 {
	font-size: 20pt
	}

	h2 {
		font-size: .8em;
	}

	p {
		font-size: 0.6em;
	}


	.boxaround {
		max-width: 100%;
	}
	.boxaround1 {
		max-width: 100%;
	}
	.boxaround2 {
		max-width: 100%;
	}

		
@media (max-width: 650px) {
	.photoalbum {
		display: flex;
		flex-direction: column;
		align-content: space-between;
	}
	
	
	.photo {
		margin: auto; 
		text-align: center;
	}
		
	.boxaround {
		max-width: 95%
		
	}
	
	.boxaround1 {
		max-width: 95%;
		border-left: none;
		border-right: none;
		
		
	}
	
	.boxaround2 {
		max-width: 95%;
		border-left: none;
		border-right: none;
		
	}
	
	
	
	